@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

.nav-link {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #041136;
}


html, body {
  margin: 0;
  padding: 0;
}

.font-Manrope {
  font-family: 'Manrope', system-ui, sans-serif;
}


